
## Database connection string for PostgreSQL
DATABASE_URL=
## Redis connection string
REDIS_URL=
SECRET_API_KEY = 
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=1d
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PORT = 3000
APP_NAME = "HMT ECOMMERCE"
PAYMENT_SECRET_API_KEY = 

ADMIN_NAME = 
ADMIN_PASSWORD = 
ADMIN_EMAIL = 
ADMIN_PHONE_NUMBER =

OTP_EXPIRES_IN=

# Resend API Key
RESEND_API_KEY = 

# Google OAuth2 credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
## Cái này là URL backend sẽ redirect về frontend, url này không khai báo trong Google Cloud Console
GOOGLE_CLIENT_REDIRECT_URI=

# Static endpoint for serving media files
PREFIX_STATIC_ENDPOINT = 

# S3 Credentials
S3_REGION=
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=



# Bank Account
BANK_ACCOUNT=
BANK_NAME=